.edit_profile_container{
    border: 2px solid #3295a8;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 40px 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2D3134;
}

.edit_profile_container form{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.edit_profile_container_left, .edit_profile_container_right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.edit_profile_container_left label, .edit_profile_container_right label{
    font-size: 18px;
    font-weight: 900;
    
}

.first_name_input_edit, .last_name_input_edit, .dob_input_edit, .email_input_edit, .number_input_edit, .country_input_edit, .state_input_edit, .address_input_edit, .gender_input_edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first_name_input_edit input, .last_name_input_edit input, .dob_input_edit input, .email_input_edit input, .number_input_edit input, .country_input_edit select, .state_input_edit select{
    border: 2px solid #3295a8;
    outline: none;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    color: #808080;
    font-size: 16px;
}

.gender_input_edit .genders{
    display: flex;
    gap: 10px;
    color: #808080;
    font-weight:normal;
    font-size: 16px;
    padding-bottom: 20px;
}

.dob_input_edit input{
    padding-bottom: 10px;
    width: 40%;
}

.address_input_edit textarea{
    padding: 8px 0 8px 12px;
    height: 35px;
    width: 100%;
    border: 2px solid #3295a8;
    outline: none;
    border-radius: 5px;
    color: #808080;
    resize: none;
}

.address_input_edit{
    padding-right: 15px;
}

.profile_input_edit{
    display: flex;
    gap: 10px;
}

.profile_input_edit_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error_message{
    color: #E74C3C;
    font-size: 12px;
    margin-left: 10px;
}

.update_button {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.update_button input{
    font-size: 16px;
    border: 2px solid #3295a8;
    color: #3295a8;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.update_button a{
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #808080;
    color: #808080;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.profile_picture{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.profile_picture img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}