.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px 120px;
    align-items: center;
    color: #2D3134;
}

.app-name{
    font-size: 35px;
    font-weight: 900;
    color: #3295a8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-options-01{
    display:flex;
    flex-direction: row;
    font-size: 20px;
    gap: 70px;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #5B5F62;
}

.navbar-options-01 a{
    text-decoration: none;
    color: #5B5F62;
}

.navbar-options-02{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    gap: 30px;
    color: #5B5F62;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.login_button a{
    text-decoration: none;
    color: #5B5F62;
}

.signup_button{
    border: 2px solid #3295a8;
    padding: 10px 30px;
    border-radius: 20px;
}

.signup_button a{
    text-decoration: none;
    color: #3295a8;
}

.login_button_registration{
    border: 2px solid #3295a8;
    padding: 10px 30px;
    border-radius: 20px;
}
.login_button_registration a{
    text-decoration: none;
    color: #3295a8;
}

.logout_button{
    border: 2px solid #3295a8;
    padding: 10px 30px;
    border-radius: 20px;
}

.logout_button a{
    text-decoration: none;
    color: #3295a8;
}

.profile_logo{
    width: 50px;
    height: 50px;
}

.profile_logo a{
    text-decoration: none;
}

.profile_logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}