.change_password_container{
    border: 2px solid #3295a8;
    width: 30%;
    margin: auto;
    margin-top: 75px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 40px 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2D3134;
}

.change_password_container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.old_password_input label, .new_password_input label, .confirm_new_password_input label{
    font-size: 15px;
    color: #5B5F62;
    font-weight: 500;
}

.old_password_input, .new_password_input, .confirm_new_password_input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.old_password_input input, .new_password_input input, .confirm_new_password_input input{
    width: 100%;
    border: 1px solid #3295a8;
    outline: none;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    color: #808080;
}

.password_cum_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.password_cum_icon img{
    cursor: pointer;
    margin-left: -35px;
    margin-right: 10px;
}

.error_message{
    color: #E74C3C;
    font-size: 12px;
    margin-left: 10px;
}

.line_04{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.line_04 input{
    font-size: 16px;
    border: 2px solid #3295a8;
    color: #3295a8;
    padding: 8px 25px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.line_04 a{
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #808080;
    color: #808080;
    padding: 8px 25px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
