.user_profile_container{
    border: 2px solid #3295a8;
    width: 70%;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 50px 80px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.user_profile_box{
    display: flex;
    gap: 30px;
}

.user_profile_container_left, .user_profile_container_right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user_profile_container_left label, .user_profile_container_right label{
    font-size: 18px;
    font-weight: 900;
}

.details{
    display: flex;
    align-items: center;
    gap: 20px;
}

.details label{
    width: 180px;
}

.details div{
    width: 250px;
    font-size: 16px;
    color: #5B5F62;
    font-weight: 500;
}

.edit_profile{
    display: flex;
    justify-content: end;
}

.edit_profile a{
    text-decoration: none;
    border: 2px solid #3295a8;
    color: #3295a8;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 500;
}

.profile_picture{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.profile_picture img{
    margin-right: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}